// app global css in SCSS form


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&family=Righteous&display=swap');

.labelFont{
  font-family: 'Montserrat', cursive;
}

.textFont{
  font-family: 'Quicksand', cursive;
}

.indexPhraseFont{
  font-family: 'Righteous', cursive;
  text-shadow: -10px 12px 4px rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 290px){
  .card{
    width: 95% !important; height: auto;
  }
}
@media screen and (min-width: 290px){
  .card{
    width: 90% !important; height: auto;
  }
  
}
@media screen and (min-width: 440px){
  .card{
    width: 85% !important; height: auto;
  }
  
}
@media screen and (min-width: 789px){
  .card{
    width: 70% !important; height: auto;
  }
  
}
@media screen and (min-width: 998px){
  .card{
    width: 55% !important; height: auto;
  }
  
}


.littleTransparent{
  background-color: rgba(220, 220, 255, 0.68);
}
